{deps, [
    {grisp, {git, "https://github.com/grisp/grisp", {branch, "master"}}},
    {epmd, {git, "https://github.com/erlang/epmd", {ref, "4d1a59"}}},
    {hera, {git , "https://github.com/Nicodaube/hera" , {branch , "main"}}}
]}.

{erl_opts, [debug_info]}.

{plugins, [rebar3_grisp]}.

{grisp, [
    {otp, [
        {version, "=27.2.4"}
    ]},
    {build, [
		{toolchain, [
			{directory, "/home/daube/Documents/grisp2-rtems-toolchain"}
		]}
    ]},
    {deploy , [
		{pre_script, "rm -rf /media/daube/GRISP/*"},
		{destination, "/media/daube/GRISP/"},
        {post_script, "umount /media/daube/GRISP"}
    ]}
]}.

{shell, [{apps, []}]}.

{relx, [
    {release, {sensor, "0.1.0"}, [
        {epmd, none},
        sensor
    ]}
]}.